@model List<ResultNewsDto>
@{
    ViewData["Title"] = "SingleContent";
    Layout = "~/Views/Default/Index.cshtml";
}

<section class="block-wrapper no-sidebar">
	<div class="container text-center">

		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<div class="single-post">
					@foreach (var item in Model)
					{
						<div class="post-header mb-5">

								<a class="post-category" href="@Url.Action("Index", "HomePage", new { categoryID = item.CategoryID })">İlgili Kategoriye Git</a>

							<h2 class="post-title">
								@item.NewsTitle
							</h2>
							<p>
	
								@item.NewsSummary
							</p>
						</div>
						<div class="post-body">
							<div class="post-featured-image">
								@foreach (var image in item.NewsImage)
								{
									<img height="500px" width="750px" src="https://localhost:7187/@image.Path" class="" alt="featured-image">
								}
							</div>
							<div class="entry-content">
								<p>							
									@item.NewsContent
								</p>
								<div class="media mb-4 single-media">

									<div class="media-body">
									</div>
								</div>
							</div>
						</div>
					}
				</div>
			</div>
		</div>
	</div>
</section>

