@model UpdateNewsImageDto
@{
    ViewData["Title"] = "UpdateNewsImage";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="content">
	<div class="container-fluid">
		<h4 class="page-title">Haber Görselleri İşlemleri</h4>
		<div class="row">
			<div class="col-md-12">
				<form method="post">

					<div class="card">
						<input type="hidden" asp-for="NewsImageID" />
						<img src="https://localhost:7187/@Model.Path" alt="" width="109" height="109">
						<label class="form-check-label">
							<input class="form-check-input" type="checkbox" asp-for="ContentImage">
							<span class="form-check-sign">İçerik Görsel Ekle</span>
						</label>
						<button class="btn btn-primary">Haber Görsel Güncelle</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
