@model CreateNewsDto
@{
    ViewData["Title"] = "CreateNews";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="content">
    <div class="container-fluid">
        <h4 class="page-title">Haber İşlemleri</h4>
        <div class="row">
            <div class="col-md-12">
                <form method="post">
                    <div class="card">
                        <div class="card-header">
                            <div class="card-title">Yeni Haber Girişi</div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="productname">Haber Başlığını Giriniz</label>
                                <input type="text" class="form-control" asp-for="NewsTitle" id="newstitle">
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="price">Haber Özeti Giriniz</label>
                                <input type="text" class="form-control" asp-for="NewsSummary" id="newssummary">
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="imageurl">Haber İçeriğini Giriniz</label>
                                <textarea class="form-control" asp-for="NewsContent" id="newscontent" rows="4"></textarea>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="price">Haber Kategorisini Seçiniz</label>
                                @Html.DropDownListFor(x => x.CategoryID, (List<SelectListItem>)ViewBag.v, new { @class = "form-control" })
                            </div>
                        </div>          
                        <div class="card-action">
                            <button class="btn btn-primary">Haberi Ekle</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
 
