@model UpdateNewsDto
@{
	ViewData["Title"] = "UpdateNews";
	Layout = "~/Views/AdminLayout/Index.cshtml";
}


<div class="content">
	<div class="container-fluid">
		<h4 class="page-title">Ürün İşlemleri</h4>
		<div class="row">
			<div class="col-md-12">
				<form method="post">
					<div class="card">
						<div class="card-header">
							<div class="card-title">Ürün Güncelleme Sayfası</div>
						</div>
						<input type="hidden" asp-for="NewsID" />
						<div class="card-body">
							<div class="form-group">
								<label for="productname">Haber Başlığını Giriniz</label>
								<input type="text" class="form-control" asp-for="NewsTitle" id="name">
							</div>
							
						</div>
						<div class="card-body">
							<div class="form-group">
								<label for="price">Haber Özetini Giriniz</label>
								<input type="text" class="form-control" asp-for="NewsSummary" id="price">
							</div>
						</div>
						<div class="card-body">
							<div class="form-group">
								<label for="imageurl">Haber İçeriğini Giriniz</label>
								<textarea class="form-control" asp-for="NewsContent" id="newscontent" rows="4"></textarea>
							</div>						
						</div>
						<div class="col-md-12">
							<div class="card">
								<div class="card-header">
									<h4 class="card-title">Editör Seçimi</h4>									
								</div>
								<div class="card-body">
									<p class="demo">
										<label class="form-check-label">
											<input class="form-check-input" type="checkbox" asp-for="EditorPick">
											<span class="form-check-sign">Editör Seçimine Ekle</span>
										</label>

									</p>
								</div>
							</div>
						</div>
						<div class="card-body">
							<div class="form-group">
								<label for="price">Haber Kategorisini Seçiniz</label>
								@Html.DropDownListFor(x => x.CategoryID, (List<SelectListItem>)ViewBag.v, new { @class = "form-control" })
							</div>
						</div>
						<div class="card-action">
							<button class="btn btn-primary">Haberi Güncelle</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
 