
@{
    Layout = null;
}

<!doctype html>
<html class="no-js" lang="zxx">
    @await Component.InvokeAsync("_UIHeadPartial")
<body>
   
    <!-- Preloader Start -->
    @await Component.InvokeAsync("_UIHeaderPartial")

    <main>

        <div id="content">
        </div>
        @* @await Component.InvokeAsync("_UIContentPartial") *@
    </main>
    @await Component.InvokeAsync("_UIFooterPartial")

   
 @await Component.InvokeAsync("_UIScriptPartial")

</body>
</html>