<div class="sidebar">
	<div class="scrollbar-inner sidebar-wrapper">
		<div class="user">			
			<div class="info">
				<a class="" data-toggle="collapse" href="#collapseExample" aria-expanded="true">
					<span>
						Haber Sitesi Yönetim
						<span class="user-level">Admin</span>
					</span>
				</a>
				<div class="clearfix"></div>				
			</div>
		</div>
		<ul class="nav">	
			<li class="nav-item">
				<a href="/UIHomePage/Index/">
					<i class="la la-safari"></i>
					<p>Siteye Git</p>
				</a>
			</li>
			<li class="nav-item">
				<a href="/Category/Index/">
					<i class="la la-navicon"></i>
					<p>Kategoriler</p>
				</a>
			</li>
			<li class="nav-item">
				<a href="/News/Index/">
					<i class="la la-comment"></i>
					<p>Haberler</p>
				</a>
			</li>
			<li class="nav-item">
				<a href="/NewsImage/Index/">
					<i class="la la-th"></i>
					<p>Haber Görselleri</p>
				</a>
			</li>
			<li class="nav-item">
				<a href="/SocialMedia/Index/">
					<i class="la la-internet-explorer"></i>
					<p>Sosyal Medya Linkler</p>
				</a>
			</li>
		</ul>
	</div>
</div>
