<div class="sidebar">
	<div class="scrollbar-inner sidebar-wrapper">
		<div class="user">			
			<div class="info">
				<a class="" data-toggle="collapse" href="#collapseExample" aria-expanded="true">
					<span>
						Haber Sitesi Yönetim
						<span class="user-level">Admin</span>
					</span>
				</a>
				<div class="clearfix"></div>				
			</div>
		</div>
		<ul class="nav">			
			<li class="nav-item">
				<a href="/Category/Index/">
					<i class="la la-table"></i>
					<p>Kategoriler</p>
					<span class="badge badge-count">14</span>
				</a>
			</li>
			<li class="nav-item">
				<a href="/News/Index/">
					<i class="la la-keyboard-o"></i>
					<p>Haberler</p>
				</a>
			</li>
			<li class="nav-item">
				<a href="/NewsImage/Index/">
					<i class="la la-th"></i>
					<p>Haber Görselleri</p>
				</a>
			</li>
			
		</ul>
	</div>
</div>
