
<header class="header-navigation d-none d-lg-block">
	<div class="container">
		<div class="row align-items-center">
			<div class="col-xs-12 col-sm-3 col-md-3">
				<!-- Logo -->
				<div class="logo">
					<a href="/UIHomePage/Index">
						  <!-- Replace Logo Here -->
						<img src="~/newsbit-bootstrap-main/theme/images/logos/kanal-logo.png" alt="" width="300px" height="120px">
					</a>
				</div>
				<!-- End Logo -->
			</div>

		</div>
	</div>
</header>